* {
    margin: 0; padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    font-family: 'Lato', sans;
}
body, html { height:100%; width: 100%; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* Shout out stuff */

.peace_title {
    font-size: 1.6em;
}

.main_shout_out {
    display: block;

    width: 100%;
    height: 100% !important;
    padding: 2em;

    color: white;

    background-color: #00bcd4;
}

.main_shout_out > center > h1, h2 {
    font-family: 'Raleway';
    font-size: 2.2em;
}

/* Buttons */

.flat_button {
    width: 250px;
    padding: 0.5em;

    display: block;
    margin: 0 auto;

    font-size: 1.3em;
    text-decoration: none;
    color: white;
    text-align: center;
    
    border-style: solid;
    border-color: white;
    border-width: 3.5px;
    outline: none;

    background-color: transparent;

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.flat_button:hover {
    background-color: white;
    color: #00bcd4;
}


/* Link stuff */

ul.link-effect {
    color: white;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1.3em;

    margin: 0 auto;
    width: 70%;
}

ul.link-effect > li {
    list-style: none;
    float: left;

    width: 20%;
    text-align: center;

    padding-bottom: 2px;

    border-style: solid;
    border-color: #006064;
    border-width: 0 0 3px 0;

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

ul.link-effect > li > a {
    font-family: 'Raleway';
    color: white;
    text-decoration: none;
    font-weight: 400;
}

ul.link-effect > li:hover {
    border-color: white;
}

ol{
    padding: 10px;
}

ol > h2 > li {
    list-style: none;
    text-align: center;
    padding: 5px; 
}

/* Slides */

.underlined_slide_title {
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: white;
    padding: 0.2em;
}

.page_slide {
    position: relative;
    margin:0 auto;
    width: 100%;
    height: 100%;
    padding: 2em;

    background-color: #03a9f4;
    color: white;
}

/* Coloured Pages */

.cyan_page {
    background-color: #00bcd4;
}

.teal_page {
    background-color: #009688;
}

.green_page {
    background-color: #259b24;
}

.red_page {
    background-color: #e51c23;
}

.orange_page {
    background-color: #ff5722;
}

.indigo_page{
    background-color: #3f51b5;
}

.blue_page{
    background-color: #006064;
}

.amber_page{
    background-color: #ff6f00;
}

.slide_content_main {
    border: none;

    width: 75%;
    margin: 0 auto;
}

.slide_pic {
    height: 40%;
    width: 70%;
    padding: 0.2em;

    border-style: solid;
    border-width: 3px;
    border-color: #eeeeee;
}

.slide_pic > img {
    width: 100%; height: 100%;
}

.slide_content_pic{
    width:50%;
}

.slide_content_text {
    vertical-align: top;
    padding: 1em;
    width: 60%;
}

.slide_actual_text {
    padding: 0.5em;
    font-size: 1.1em;
}


/* Scroll buttons */

.scroll {
    display: block;
    position: absolute;
    width:50px;
    height: 50px;
    right: 5%;
    bottom: 10%;

    background-color: transparent;
    color: white;
    text-align: center;

    border-style: solid;
    border-width: 3px;
    border-color: white;

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.scroll > i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.scroll:hover{
    background-color: white;
    color: #00bcd4;
};
