* {
    margin: 0; padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    font-family: 'Lato', sans;
}
body, html { height:100%; width: 100%; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* Shout out stuff */

.peace_title {
    font-size: 1.6em;
}

.main_shout_out {
    display: block;

    width: 100%;
    height: 100% !important;
    padding: 2em;

    color: white;

    background-color: #00bcd4;
    /* Fallback ^ */

    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.main_shout_out > center > h1, h2 {
    font-family: 'Raleway';
    font-size: 2.2em;
}

.learn_more {
    width: 250px;

    display: block;
    margin: 0 auto;

    font-size: 1.3em;
    padding: 0.5em;
    color: white;

    border-style: solid;
    border-color: white;
    border-width: 3.5px;
    outline: none;

    background-color: transparent;

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.learn_more:hover {
    background-color: white;
    color: #00bcd4;

}


/* Link stuff */

ul {
    color: white;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1.3em;

    margin: 0 auto;
    width: 70%;
}

ul > li {
    list-style: none;
    float: left;

    width: 20% !important;
    text-align: center;

    padding-bottom: 2px;

    border-style: solid;
    border-color: #006064;
    border-width: 0 0 3px 0;

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

ul > li > a {
    font-family: 'Raleway';
    color: white;
    text-decoration: none;
    font-weight: 400;
}

ul > li:hover {
    border-color: white;
}

/* Slides */

.page_slide_first {
    position: relative;
    margin:0 auto;
    width: 100%;
    height: 100%;
    padding: 2em;

    background-color: #03a9f4;
    color: white;
}

.page_slide_second {
    position: relative;
    margin:0 auto;
    width: 100%;
    height: 100%;
    padding: 2em;

    background-color: #00bcd4;
    color: white;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/* Scroll buttons */

.scroll{
    position: relative;
    width:50px;
    height: 50px;
    left: 95%;
    top: 80%;

    background-color: #006064;
    border-radius: 50px;
    color: #eeeeee;
    text-align: center;

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.scroll > i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.scroll:hover{
    background-color: #eeeeee;
    color: #006064;
};
