* {
  font-family: 'Oxygen', sans-serif;
  transition: all 0.25s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#side {
  background-color: #006064;
  position: fixed;
  width:23%;
  height: 111%;

  padding: 2em;
}

#content span {
  color: #ffefff;
  font-size: 2.2em;
}

#content ul li {
  list-style: none;
  color: #80cbc4;
  padding: 10px;
}

#content ul a {
  font-size: 1.15em;
  color: #b2dfdb;
  border: 2px solid #b2dfdb;
  padding: 5px;
  text-decoration: none;
}

#content ul a:hover {
  color: #ffefff;
  border: 2px solid #FFBB33;
}

#main {
  background-color: #eceff1;
  position: absolute;
  height: auto;
  top:10px;
  left: 25%;
  margin-right: 150px;
  box-shadow: 0px 2px 4px rgba(100,100,100,.1);
}

#main #blog_area h2 {
  color:#006064;
}

#main #blog_area ul {
  list-style: none;
}

#main #blog_area ul a {
  text-decoration: none;
  color:#006064;
}

#t_content tr td {
  padding: 16px;
}

#posts {
  padding: 0.5em;
}

#posts > li > p > a {
  display: block;
}

/* First column */

#first {
  border-right: 2px inset #e0e0e0;
  width: 50%;
}

/* Second column */

#second {
  vertical-align: top;
  width: 50%;
}

#second h2 {
  color: #006064;
}

#peace_img {
  box-shadow: 4px 4px 4px 4px rgba(100,100,100,.1);
  position: absolute;
  right: 10%;
  border-radius: 100px 100px 100px 100px;
}




/* Search Bar style */

.search {
  margin:0.5em 0 0.5em 0;
  width: 100%;
}

#search_bar {
  outline: none;
  background-color: transparent;
  font-size: 1.05em;
  margin: 1em 0 1em 0.5em;
  padding: 3px;
  width: 100%;
  color: white;

  border-style:solid;
  border-width: 0 0 2px 0;
  border-color: #b2dfdb;
}

#search_bar:focus {
  border-color: #FFBB33;
}

/* Search placeholder color */

#search_bar::-webkit-input-placeholder {
    color: white;
}

#search_bar:-moz-placeholder {
   color: white;
   opacity: 1;
}

#search_bar::-moz-placeholder {
   color: white;
   opacity: 1;
}

#search_bar:-ms-input-placeholder {
   color: white;
}

/* Utility/Miscellaneous */

.underline {
  border-style: solid;
  border-color: #b2dfdb;
  border-width: 0 0 3px 0;
}
